@import node_modules/bootstrap/scss/functions
@import node_modules/bootstrap/scss/variables
@import node_modules/bootstrap/scss/mixins/_breakpoints

@import carousel
@import homepage
@import utilities
@import my-projects-section
@import admin-section

@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700")

#root
    min-height: 100vh
    display: flex
    flex-direction: column
    padding-top: 62px
  

nav
  min-height: 62px

main
    flex-grow: 1
    flex-basis: auto
    position: relative

footer
    margin-top: auto
    min-height: 84px !important
